<style>
    #formLogin {
        background: #f8f8f8; 
        padding: 10px;
        padding-top: 70px;
        box-shadow: 1px 1px 1px 1px #CCC;
    }
    #formLogin > .title {
        background: #FFF;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 5px;
        text-align: center;
    }
    #formLogin > .title > h3 {
        margin: 0;
        color: #000;
        font-family: Oswald;
    }
    
</style>

<div class="col-md-4"></div>

<div id="formLogin" class="col-md-4">
    <div class="title bg-primary">
        <h3>LOGIN</h3>
    </div>
    <form name="formLogin" ng-submit="" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="username" type="text" class="form-control" name="username" placeholder="Username" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="password" type="text" class="form-control" name="password" placeholder="Password" required />
        </div>          
        <button type="submit" class="form-control btn btn-primary" ><i class="fa fa-sign-in"></i> LOGIN</button>
    </form>
</div>

<div class="col-md-4"></div>