@font-face {
	font-family: 'fontro';
	src: url('../fonts/Ruthie-Regular.eot');
	src: url('../fonts/Ruthie-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ruthie';
	src: url('../fonts/Ruthie-Regular.eot');
	src: url('../fonts/Ruthie-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ruthie-Regular.woff') format('woff'),
		url('../fonts/Ruthie-Regular.ttf') format('truetype'),
		url('../fonts/Ruthie-Regular.svg#Ruthie-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Light.eot');
	src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Light.woff') format('woff'),
		url('fonts/OpenSans-Light.ttf') format('truetype'),
		url('fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
